<!-- registro-eventos.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro de Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input type="text" [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" placeholder="Seleccionar Fecha" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Foto</ion-label>
    <ion-input type="file" accept="image/*" (change)="onFileSelected($event)"></ion-input>
  </ion-item>

  <ion-img [src]="imagenSeleccionada" *ngIf="imagenSeleccionada" class="ion-margin-top"></ion-img>

  <ion-button expand="block" (click)="guardarEvento()">Guardar Evento</ion-button>
</ion-content>
