<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/yo.jpeg"></ion-img>
    <ion-card-content>
      <ion-card-title>Joel De León Reyes</ion-card-title>
      <ion-card-subtitle>Matrícula: 20220622</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Reflexión sobre las elecciones:
    </ion-card-header>
    <ion-card-content>
      "Las elecciones son la expresión más pura de la democracia, un momento en el que cada voz cuenta y cada voto tiene el poder de dar forma al futuro de nuestra sociedad."
    </ion-card-content>
  </ion-card>
</ion-content>
